<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Comment these Articles</title>
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<script src="https://code.jquery.com/jquery.js"></script>
		<!--Scripts to bring in Jquery and bootstrap plus my external javascript sheets-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
		<script type="text/javascript" src="/assets/js/frontend.js"></script>
		<link rel="icon" type="image/x-icon" href="/favicon/favicon.ico"/>	
    </head>
	<body>
		{{{ body }}}
	</body>
</html>