<div class='container'>
    <div class="jumbotron">
        <h1 class="display-4">Everything Disney!</h1>
        <p class="lead">This website will allow you to look up current articles about all things Disney</p>
        <hr class="my-4">
        <p>Just click the button and start looking for some articles!</p>
        <a class="btn btn-primary btn-lg" id="scraper" role="button">Get some Articles</a>
    </div>
    <div class='row'>

    </div>
</div>